header.index-header {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

.card-body {
    .text-truncate {
        max-height: 3em;
        border-bottom: 1px solid black;
    }
}